/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .messenger-icon {
    display: inline-block;
    position: fixed;
    bottom: 20px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
    cursor: pointer;
    z-index: 999;
    width: 70px; /* Adjust the width as needed */
    height: 70px;
  }
 
  
  .chatbox-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .chatbox {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 500px;
  background-image: url('https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif'); /* Add your local or online GIF path here */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  border-radius: 15px;
}

  
  .chatbox-heading {
    background-color: rgb(224, 60, 6);
    color: #ededf1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .chatbox-heading img {
    
    height: 40px; /* Set the desired height */
    width: 40px;
    margin-right: 10px; /* Add margin to separate image from text */
  }
  .chatbox-heading h2{
    margin: 0; /* Remove default margin for h1 */
  }
  
  .chat-messages {
    flex: 1;
    max-height: 550px;
    overflow-y: auto;
    padding: 10px;
  }   
  .input-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: auto; /* This will push .App to the bottom */
    
  }
  
  #userMessage {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    
  }

  .send-button {
    padding: 8px;
    background-color: rgb(7, 222, 238);
    color: #ec0202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink:0;
    font-size: 20px;
  }
  

.close-button-container {
  background-color: rgb(248, 248, 249);
  border-radius: 50%;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.close-button {
  color: rgb(33, 33, 32);
  font-size: 20px;
  cursor: pointer;
}
.refresh-button {
  
  cursor: pointer;
  color: rgb(48, 49, 48);
}
.refresh-button-container {
  background-color: rgba(241, 242, 239, 0.836);
  border-radius: 50%;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}
.option-container {
  display: inline-block;
  margin-right: 0;

  
}

.option {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid rgb(8, 35, 240);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  color: rgb(132, 128, 135);
  margin-left: 10px;
 
}
.user-message {
  background-color: rgb(31, 168, 227); /* Light blue */
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  float: right;
  clear: both;
  
}
.user-message-container {
  text-align: right; /* Align user messages to the right */
  margin-bottom: 10px;
}

.bot-message {
  background-color: rgba(150, 156, 237, 0.836); /* Background color for bot messages */
  padding: 10px;
  border-radius: 10px; /* Curved corners */
  max-width: 70%; /* Maximum width for the bot message container */
  clear: both;
  margin-bottom: 5px;
  
  
}
/* Define the animation */
@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Apply the animation to the messenger icon when hovered */
.messenger-icon:hover {
  animation: jump 0.5s infinite;
}
.bot-message-container {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  margin-bottom: 0;
}
.bot-image {
  width: 25px; /* Adjust the width of the bot image */
  height: 25px; /* Adjust the height of the bot image */
  margin-right: 10px; /* Adjust the spacing between the image and the message */
}
.user-message-container {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
}

.user-image {
  width: 25px; /* Adjust the width of the user image */
  height: 25px; /* Adjust the height of the user image */
  margin-right: 10px; /* Adjust the spacing between the message and the image */
  
}
.feedback-container {
  margin-left: 50px; /* Moves the feedback container to the right */
  margin-right: 10px; /* Adds some gap on the right side */
  margin-top: 0;

 
}
